<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div th:replace="~{fragments/toolbar :: toolbar}">Header</div>
<main role="main">
    <div class="jumbotron">
        <div class="container text-center">
            <span class="fas fa-exclamation-triangle fa-10x"></span>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}">Footer</div>
</body>
</html>